<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Pokedéx</title>
</head>
<body>
    <h1 id="detalhes">Cadastrar um novo carro</h1>
 
    <form action="/recebecar" method="POST">

        <div>
            <label for="nome">Imagem: </label>
            <input type="text" name="imagem" id="imagem" placeholder="Coloque o link da sua imagem" required>
        </div>

        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" placeholder="Digite nome do carro" required>
        </div>

        <div>
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" id="modelo" placeholder="Digite o modelo do carro" required>
        </div>
    
        <div>
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca" placeholder="Digite o tipo do carro" required>
        </div>

        <div>
            <label for="velocidade">Velocidade: </label>
            <input type="text" name="velocidade" id="velocidade" placeholder="Digite a descrição do carro" required>
        </div>

        <div>
            <label for="nome">Tipo: </label>
            <input type="text" name="tipo" id="tipo" placeholder="Digite o tipo do carro" required>
        </div>

        <div>
            <label for="velocidade">Descrição: </label>
            <input type="text" name="velocidade" id="velocidade" placeholder="Digite a velocidade do carro" required>
        </div>

        <button type="submit">Cadastrar carro</button>
    </form>
    <script src="/js/script.js"></script>
</body>
</html>