<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <title>Catalogo de Carros</title>
    </head>
    <body>
        <header id="logo">
            <h1 id="poke">Carros a venda</h1>

            <section class="botao">
                <a id="detail" href="/criar"><strong>Cadastro</strong></a>
                <a id="home" href="/"><strong>Inicio</strong></a>
            </section>
        </header>
        <article id="tudoo">
            <img id="pokemo" src="https://i.pinimg.com/originals/9d/73/d0/9d73d089a72a0f2dc893c2f63561d779.gif" alt="icon" width="500" height="500"/>

            <section class="container">
            
            </section>
            
        

           

        <script src="/js/script.js"></script>
    </body>
</html>